.modal {
  font-family: 'Lato', sans-serif;

  & .modal-dialog {
    & .modal-content {
      margin-top: 100px;

      & .modal-body {

        & .modal-title {
          color: #000000;
          font-weight: bold;
          font-size: 50px;
          line-height: 1;

          & .modal-subtitle {
            color: black;
            font-weight: normal;
            font-size: 2rem;

            @media (max-width: 650px) {
              font-size: 1.9rem;
            }

            @media (max-width: 450px) {
              font-size: 1.8rem;
            }
          }

          @media (max-width: 450px) {
            font-size: 3.5rem;
          }
        }
        & form {
          margin-top: 40px;

          & .form-group {
            margin-bottom: 20px;

            & .form-control {
              padding: 1rem .75rem;
              font-size: 1.6rem;
            }
          }

          & .btn {
            margin-top: 30px;
            padding: 10px 0;
            background: linear-gradient(to bottom,#ffe174 0,#f7c302 100%);
            border-radius: 10px;
            border: 0;
            border-top: 1px solid transparent;
            border-bottom: 1px solid #ffe174;
            font-size: 2rem;

            &:hover {
              border-top: 1px solid #ffe174;
              border-bottom: 1px solid transparent;
              background: linear-gradient(to bottom,#f7c302 0,#ffe174 100%);
            }

            &:focus {
              outline: none;
            }
          }
        }
      }
    }

    @media (max-width: 650px) {
      max-width: 400px;
      margin: 0 auto;
    }

    @media (max-width: 450px) {
      max-width: 300px;
      margin: 0 auto;
    }
  }
}